.calculator_cover {
    padding: 0.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.calculator_container {
    padding: 0.5rem;
    max-width: 400px;
    margin: auto;
    border: 1px solid var(--foreground);
    border-radius: 0.5rem;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.calculator_container h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.total_wrap {
    margin-top: 1rem;
    position: sticky;
    top: 0;
    z-index: 6; /* Чтобы верхний блок был поверх прокручиваемого контента */
    padding: 0.5rem; /* Небольшой отступ снизу */
    box-shadow: var(--boxshadow); /* Тень для разделения */
    border-radius: 0.25rem;
}

.services_list {
    margin-bottom: 0.5rem;
    /* max-height: 300px; Ограничиваем высоту списка сервисов */
    overflow-y: auto; /* Добавляем вертикальный скролл */
    padding-right: 10px; /* Небольшой отступ, чтобы избежать наложения скроллбара */
}

.input_group {
    margin-bottom: 0.5rem;
}

.input_group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input_with_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.decrement_button,
.increment_button {
    width: 30px;
    height: 30px;

    text-align: center;
    line-height: 28px;
    border: none;

    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
}

.input_with_buttons input[type="number"] {
    width: 50px;
    text-align: center;
    padding: 5px;
    margin: 0 5px;

    border: 1px solid var(--foreground);
    border-radius: 4px;
}

.total_cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--foreground);
    border-radius: 0.5rem;
}
.total_cost_value {
    background-color: var(--secondary-0);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.services_list {
    overflow-y: auto; /* Добавить скролл, если нужно */
    padding: 1rem 0;
}

.content article {
    line-height: 1.5;
    text-align: justify;
    text-indent: 1rem;
}
.content article h3 {
    line-height: 1.5;
    text-align: center;
    text-indent: 1rem;
    margin: 0.5rem auto;
}
.content article > ul > li {
    list-style: none;
}
.content article > a {
    color: var(--secondary-2) !important; /* Основной цвет ссылки */
    cursor: pointer; /* Вид курсора */
    text-decoration: underline !important; /* Подчеркивание */
    font-weight: bold; /* Дополнительно: можно добавить жирный шрифт */
    transition: color 0.3s ease; /* Плавный переход цвета при наведении */
}

.content article > a:hover {
    color: var(--primary); /* Изменение цвета при наведении */
    text-decoration: none; /* Убирает подчеркивание при наведении */
}

@media (max-width: 768px) {
    .content {
        font-size: 1rem;
    }
}
