.button {
    width: 100%;
    max-width: 180px;
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    transition: all 0.3s ease-in;
    animation: y 2s linear infinite;
}

.button:hover {
    transform: scale(1.01);
    filter: drop-shadow(0px 0px 5px var(--secondary-2));
}

@media (prefers-color-scheme: dark) {
    .button {
        background-color: var(--secondary-2);

        animation: x 2s linear infinite;
    }

    .button:hover {
        animation: none;
    }
}

@keyframes x {
    0% {
        filter: drop-shadow(0px 0px 1px var(--foreground));
    }

    25% {
        filter: drop-shadow(0px 0px 3px var(--foreground));
    }
    50% {
        filter: drop-shadow(0px 0px 5px var(--foreground));
    }
    75% {
        filter: drop-shadow(0px 0px 3px var(--foreground));
    }
    100% {
        filter: drop-shadow(0px 0px 1px var(--foreground));
    }
}
@keyframes y {
    0% {
        filter: drop-shadow(0px 0px 1px var(--backround));
    }

    25% {
        filter: drop-shadow(0px 0px 3px var(--background));
    }
    50% {
        filter: drop-shadow(0px 0px 5px var(--background));
    }
    75% {
        filter: drop-shadow(0px 0px 3px var(--background));
    }
    100% {
        filter: drop-shadow(0px 0px 1px var(--background));
    }
}
