.button {
    width: 100%;
    max-width: 180px;
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    transition: all 0.3s ease-in;
    animation: y 2s linear infinite;
    color: var(--background);
}

.button:hover {
    box-shadow: var(--boxshadow);
}
