:root {
    --foreground: #ffffff;
    --background: #33363a;

    --primary: #f2f2f2;
    --color: rgb(31, 31, 31);

    --secondary-0: #1e8e3e;
    --secondary-1: #d93025;
    --secondary-2: #1967d2;
    --secondary-3: #f9ab00;

    --neutral-4: #58616d;

    --border: 1px solid #f8f9fa;
    --boxshadow: 0 1px 6px rgba(32, 33, 36, 0.28);

    --text-shadow: 0px 0px 0.1rem var(--foreground),
        0px 0px 0.3rem var(--foreground), 0px 0px 0.6rem var(--foreground);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 18px;
    background-color: transparent;
}

@media (max-width: 900px) {
    html,
    body {
        font-size: 17px;
    }
}
@media (max-width: 570px) {
    html,
    body {
        font-size: 16px;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.3rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
        background-color: var(--background);
    }
    body {
        background-color: var(--background);
    }
}

.container {
    padding: 0 1rem;
    margin-top: 3.5rem;
    background-color: var(--foreground);
}

/* Стили для таблиц */
table {
    width: 100%;
    border-collapse: collapse;
    background: var(--foreground);
}

th,
td {
    padding: 0.5rem;
    border: 1px solid var(--primary-2);
    text-align: left;
}

/* Дополнительный стиль для темной темы */
@media (prefers-color-scheme: dark) {
    :root {
        --text-shadow: 0px 0px 0.1rem var(--background),
            0px 0px 0.3rem var(--background), 0px 0px 0.6rem var(--background);
    }
    .container {
        background-color: var(--background);
    }
    table {
        background: var(--background);
    }

    th,
    td {
        border-color: var(--primary-3); /* Цвет границы для темной темы */
    }
}

/* roller */

.roller_wrap {
    text-align: center;
    padding: 5rem;
}
.roller {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 10px solid var(--primary-0);
    border-radius: 50%;
    border-top-color: var(--primary-1);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

/* roller end */
