.description .stages:nth-child(2n) {
    background-color: var(--secondary-0);
    color: var(--primary-1);
}

.stages {
    text-align: justify;
    padding: 0.5rem;
}
.stages h2 {
    text-align: center;
    padding: 0.5rem 0;
}
.stages p {
    text-indent: 1rem;
}
