.main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.stages {
    text-align: justify;
}
.stages h2 {
    text-align: center;
    padding: 0.5rem 0;
}
.stages p {
    text-indent: 1rem;
}
