.article {
    margin: 1rem auto;
    max-width: 900px;
    width: 100%;
    border-radius: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: var(--small);
    text-align: center;
}

.title {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1.2rem;
}

.date {
    font-size: 0.9rem;
    color: var(--neutral-4);
}

.imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 0.5rem;
    margin: 0.5rem auto;
}

.image {
    border-radius: 8px;
    margin: 0.5rem 0;
    object-fit: cover;
}

.content article {
    line-height: 1.5;
    text-align: justify;
    text-indent: 1rem;
}

.content article h2 {
    line-height: 1.5;
    text-align: center;
    text-indent: 1rem;
    margin: 0.5rem auto;
}
.content article h3 {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-indent: 1rem;
}

.content article > ul > li {
    list-style: none;
}
.content article > ul > ul > li {
    list-style: none;
}
.content article > ul > ol > li {
    list-style-position: inside;
}

.content article > ol > li {
    list-style-position: inside;
}

.content article > a {
    color: var(--secondary-2) !important;
    cursor: pointer;
    text-decoration: underline !important;
    font-weight: bold;
    transition: color 0.3s ease;
}

.content article > a:hover {
    color: var(--primary);
    text-decoration: none;
}

.goback {
    display: block;
    text-align: center;
    color: var(--secondary-2);
    margin: 1rem auto;
    padding: 0.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.3rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .content {
        font-size: 1rem;
    }
}
