.card_place {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    gap: var(--small);
    align-items: stretch;
}
.imgcard_place {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    grid-auto-rows: minmax(200px, auto);
    gap: var(--small);
    align-items: stretch;
}

/* .imgcard_place {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--small);
} */
