.section {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--foreground);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.hopes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: start;
    grid-auto-rows: minmax(200px, auto);
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Перспектива для 3D-эффекта */
}

.card_front,
.card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden; /* Скрыть обратную сторону */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: var(--boxshadow);
    background: var(--foreground);
    padding: 0.5rem;
    transition: transform 0.6s ease-in-out; /* Плавный переход */
}

.card_front {
    transform: rotateY(0deg); /* Передняя сторона */
}

.card_back {
    transform: rotateY(180deg); /* Обратная сторона */
}

.card:hover .card_front {
    transform: rotateY(-180deg); /* Вращение передней стороны при hover */
}

.card:hover .card_back {
    transform: rotateY(0deg); /* Вращение обратной стороны при hover */
}

.card_inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Сохранение 3D-эффекта */
    position: relative;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    color: var(--secondary-0);
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.icon_rotate {
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    color: var(--secondary-2);
}

.card_title {
    font-size: 1rem;
    text-align: center;
    margin: auto;
    font-weight: normal;
}

.title {
    text-align: center;
    margin: auto;
}
