.footer {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--foreground);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    box-shadow: var(--boxshadow);
    margin-top: 5px;
}

.contacts {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}
.card {
    position: relative;
    margin-top: 1.5rem;
}

.bottom_line {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    padding: 0 1rem;
    grid-auto-rows: minmax(160px, auto);
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: var(--boxshadow);
    padding: 0.5rem;
}
.wrapper {
    background-color: var(--primary);
    height: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.bottom_item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
}

.title {
    /* text-transform: uppercase; */
    text-decoration: underline;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
}
.icons_wrapper {
    width: 3rem;
    height: 3rem;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icons {
    font-size: 3rem;
    color: var(--secondary-2);
}

@media (max-width: 570px) {
    .line {
        display: none;
    }
}
