.line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

@media (max-width: 710px) {
    .contacts {
        display: none;
    }
}
