.logo {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 2rem;
    transition: all 0.3s ease-in;
}
.logo:hover {
    color: var(--secondary-1);
}

.img,
.img2,
.img3,
.img4,
.img5 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}
.img {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--secondary-1);
}
.img2 {
    width: 2rem;
    height: 2rem;
    background-color: var(--background);
}

.img3 {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--secondary-1);
}
.img4 {
    width: 1rem;
    height: 1rem;
    background-color: var(--background);
}
.img5 {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--secondary-1);
}
.logo:hover .img,
.logo:hover .img3,
.logo:hover .img5 {
    background-color: var(--foreground);
}

@media (max-width: 570px) {
    .logo_title {
        display: none;
    }
}
